<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fafeat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fafeat"
        tools:replace="android:theme">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXO34ewwWNKttTgaBTkSw8DPflVQnw0CM" />

        <activity
            android:name=".Cliente.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity android:name=".Cliente.Cart" />
        <activity android:name=".Cliente.Ristorante.BevandeMenu" />
        <activity android:name=".Cliente.Ristorante.Pizze_BiancheMenu" />
        <activity android:name=".Cliente.Ristorante.Pizze_RosseMenu" />
        <activity android:name=".Cliente.Ristorante.PaniniMenu" />
        <activity android:name=".Cliente.Ristorante.DolciMenu" />
        <activity android:name=".Cliente.Ristorante.ContorniMenu" />
        <activity android:name=".Cliente.Ristorante.SecondiMenu" />
        <activity android:name=".Cliente.Ristorante.PrimiMenu" />
        <activity android:name=".Cliente.Ristorante.AntipastiMenu" />
        <activity android:name=".Cliente.Ristorante.VistaMenuRistorante" />
        <activity android:name=".Gestore.ModificaRistorante" />
        <activity android:name=".Gestore.Menu.ModificaPietanza" />
        <activity android:name=".Gestore.Menu.AggiuntaSecondi" />
        <activity android:name=".Gestore.Menu.AggiuntaPrimi" />
        <activity android:name=".Gestore.Menu.AggiuntaPizzeRosse" />
        <activity android:name=".Gestore.Menu.AggiuntaPizzeBianche" />
        <activity android:name=".Gestore.Menu.AggiuntaPanini" />
        <activity android:name=".Gestore.Menu.AggiuntaDolci" />
        <activity android:name=".Gestore.Menu.AggiuntaContorni" />
        <activity android:name=".Gestore.Menu.AggiuntaBevande" />
        <activity android:name=".Gestore.Menu.AggiuntaAntipasti" />
        <activity android:name=".Gestore.Menu.Panini" />
        <activity android:name=".Gestore.Menu.Pizze_Bianche" />
        <activity android:name=".Gestore.Menu.Pizze_Rosse" />
        <activity android:name=".Gestore.Menu.Bevande" />
        <activity android:name=".Gestore.Menu.Contorni" />
        <activity android:name=".Gestore.Menu.Dolci" />
        <activity android:name=".Gestore.Menu.Antipasti" />
        <activity android:name=".Gestore.Menu.Secondi" />
        <activity android:name=".Gestore.Menu.Primi" />
        <activity android:name=".Gestore.SignUpGestore2" />
        <activity android:name=".Gestore.VistaGestore" />
        <activity android:name=".Gestore.SignUpGestore" />
        <activity android:name=".Common.LoginSignup.TypeOfRegistrationUser" />
        <activity android:name=".Cliente.VistaCliente" />
        <activity android:name=".HelperClasses.CheckInternet" />
        <activity
            android:name=".Databases.UserHelperClass"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Databases.SessionManager"
            tools:ignore="Instantiatable" />
        <activity android:name=".Cliente.SignUpCliente" />
        <activity android:name=".Common.LoginSignup.SetNewPassword" />
        <activity android:name=".Common.LoginSignup.MakeSelection" />
        <activity android:name=".Common.LoginSignup.Login" />
        <activity android:name=".Common.LoginSignup.ForgetPasswordSuccessMessage" />
        <activity android:name=".Common.LoginSignup.ForgetPassword" />
        <activity
            android:name=".Common.LoginSignup.RetailerStartUpScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>